# Template Konfigurasi Bot Telegram Keuangan Pribadi
# Salin file ini menjadi '.env' di lokal dan VPS Anda lalu isi datanya.

# Token Bot Telegram dari @BotFather
TELEGRAM_BOT_TOKEN=

# Username Telegram Anda tanpa @ (misal: dapxtr) atau ID Angka
ALLOWED_USER_ID=

