# Template Konfigurasi Bot Telegram Keuangan Pribadi
# Salin file ini menjadi '.env' di lokal dan VPS Anda lalu isi datanya.

# Token Bot Telegram dari @BotFather
TELEGRAM_BOT_TOKEN=

# Username Telegram Anda tanpa @ (misal: dapxtr) atau ID Angka
ALLOWED_USER_ID=

# Konfigurasi Google Sheets (Spreadsheet) Auto-Sync (Opsional)
# GOOGLE_SHEET_ID = ID dari URL Google Spreadsheet Anda (https://docs.google.com/spreadsheets/d/ID_DISINI/edit)
GOOGLE_SHEET_ID=
GOOGLE_CREDENTIALS_FILE=credentials.json
