# Template Konfigurasi Bot Telegram Keuangan
# Salin file ini menjadi '.env' di lokal dan VPS Anda lalu isi datanya.

# Token Bot Telegram dari @BotFather
TELEGRAM_BOT_TOKEN=

# ID Telegram Anda untuk Restriksi Penggunaan Pribadi (Opsional, Kosongkan jika untuk umum)
# Cara cek ID Telegram Anda: Kirim pesan ke bot @userinfobot di Telegram
ALLOWED_USER_ID=
