# Environment variables & Konfigurasi Rahasia
.env

# Database SQLite (Cadangan Data Keuangan Pribadi)
*.db
*.sqlite
*.sqlite3

# Temporary Output Files (PDF, CSV, PNG)
*.png
*.pdf
*.csv

# Python Cache & Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv

# IDE Config
.vscode/
.idea/
